<%-include head%>
    <div class="outer2">
        <div class="container-fluid m-auto cont2">


            <h1 class="text-center my-5">Oh oh! Something is not right...</h1>
            <hr>

            <div class="row justify-content-center">
                <div class="col-10 col-md-8 text-center medium">The Mailer project that you are trying to submit the form data does not exist...<br>

                    <div class="my-5">
                        <a href="#" class="add">-Register on Mailer!-</a>
                    </div>

                </div>
            </div>
            <hr>

            <div class="footer black text-center">powered by <a href="#">Mailer </a> | 2017</div>

        </div>
    </div>


    </body>

    </html>
