<%-include head%>

    <body>



        <div class="outer2">
            <div class="container-fluid m-auto cont2">


                <h1 class="text-center my-5">Thank You!</h1>
                <hr>

                <div class="row justify-content-center">
                    <div class="col-10 col-md-8 text-center medium">Your data has been submitted!</div>
                </div>
                <hr>

                <div class="footer black text-center">powered by <a href="#">Mailer </a> | 2017</div>

            </div>
        </div>


    </body>

    </html>
