<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailer</title>

    <link rel="stylesheet" href="res/bootstrap.css">
    <link rel="stylesheet" href="res/animate.css">
    <link rel="stylesheet" href="res/main.css">
    <link rel="stylesheet" href="res/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="res/jquery.js"></script>
    <script src="res/tether.min.js"></script>
    <script src="res/bootstrap.js"></script>
    <script src="res/masonry.pkgd.min.js"></script>
    <script src="res/imagesloaded.pkgd.min.js"></script>
    <script src="res/jquery.cookie.js"></script>

    <script src="res/angular.js"></script>
    <script src="res/angular-route.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <script src="res/main.js"></script>
</head>
