<%-include head%>

    <body class="back">

        <div class="container-fluid">
            <div class="outer">
                <div class="row justify-content-center cont">
                    <div class="login-form col-12 col-md-8">

                        <form class="frm text-center">
                            <div class="log-head text-center mb-5">Mailer, a Platform for Front-End Developers</div>
                            <div class="log-head small text-center mb-2">Sign In</div>

                            <input type="text" class="form-control my-2" id="username_field" placeholder="user name">
                            <input type="password" class="form-control my-2" id="password_field" placeholder="password">
                            <button type="button" class="btn my-2 btn-primary" id="login_btn">Login</button>
                            <br>
                            <a href="/signup" class="my-2">New user? Register here</a>
                            <div class="footer text-center">created by supun sudaraka</div>
                        </form>
                    </div>

                </div>
            </div>


        </div>

    </body>

    </html>
