<%-include head%>

    <body class="back">

        <div class="container-fluid">
            <div class="outer">
                <div class="row justify-content-center cont">
                    <div class="login-form">

                        <form class="frm frm2 text-center col-12 col-md-10">
                            <div class="log-head text-center mb-5">Mailer, a Platform for Front-End Developers</div>
                            <div class="log-head small text-center mb-2">Sign Up</div>

                            <div class="form-group text-left" id="username_group">
                                <label class="form-control-label" for="username_field">User Name</label>
                                <input type="text" class="form-control mb-2 form-control-success" id="username_field" placeholder="user name">
                                <div class="form-control-feedback" id="username_feedback"></div>
                            </div>

                            <div class="form-group text-left" id="email_group">
                                <label class="form-control-label" for="email_field">Email Address   </label>
                                <input type="email" class="form-control my-2" id="email_field" placeholder="email">
                                <div class="form-control-feedback" id="email_feedback"></div>
                            </div>

                            <div class="form-group text-left" id="password_group">

                                <label class="form-control-label" for="password_field">Password  </label>
                                <input type="password" class="form-control my-2" id="password_field" placeholder="password">
                                <div class="form-control-feedback" id="password_feedback"></div>
                            </div>


                            <div class="form-group text-left" id="confirm_password_group">

                                <label class="form-control-label" for="confirm_password_field">Re-type Password  </label>
                                <input type="password" class="form-control my-2" id="confirm_password_field" placeholder="confirm password">
                                <div class="form-control-feedback" id="confirm_password_feedback"></div>
                            </div>

                            <button type="button" class="btn my-2 btn-primary" id="signup_btn">Sign Up</button>
                            <br>
                            <a href="/" class="my-2">Already have an account? Login here</a>
                            <div class="footer text-center">created by supun sudaraka</div>

                        </form>
                    </div>

                </div>
            </div>


        </div>
    </body>

    </html>
